<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{url_for('static', path='/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    </head>
    <body style="background-image: linear-gradient(#096622, #f7f7f7);">
        <div class="mheader">

            <a style="font-family: 'Noto Sans', sans-serif" href="/home"> Home </a>
            <a style="font-family: 'Noto Sans', sans-serif" href="/about"> About Us </a>
            <a style="font-family: 'Noto Sans', sans-serif" href="/about"> Help </a>
        </div>
        <p style="color: aliceblue; font-size: 45px; margin-left: 15%; margin-right: 15%; text-align: center; text-decoration: solid;
        font-weight: bolder;width: 70%">
            Fake News Detector
        </p>
        <div class="top_div_item" style="margin-top: 2%; margin-left: 15%; margin-right:15%;width:70%; height: 380px">
            <h2 style="color: black; font-size: 20px; margin-left: 5%; margin-right: 5%; text-align: left;float:left;margin-top:2%">
            Introduction
            </h2>
            <p style="color: black; font-size: 20px; margin-left: 5%; margin-right: 5%; text-align: left;float:left;margin-top:2%;font-size:18px;text-align:left">
            In the age of internet where information is shareable to the rest of the world with some few clicks,
            there is no solid way to determine the authenticity of some shared news.<br>
            Some people take advantage of these facts to spread fake news ensuing chaos among the masses.<br>
            This problem can be solved by leveraging the current advancements in ML technologies to detect pattern among news articles and the abundance
            of data that is present everywhere to create an application. <br>
            This application would cater to the needs of general public on the fly without compromising much on the reliability. <br>
            Introduction of such an application will help people to curb fake news and stop its propagation at the ground level.
            It will also help us to create awareness about the seriousness of this issue.
        </p>
        </div>
        <h1 style="color: aliceblue; font-size: 40px; margin-left: 15%; margin-right: 15%; text-align: center; text-decoration: solid;
        font-weight: bold;width: 70%;margin-top: 8%;margin-bottom:0%">
            Created By
        </p>
        <div>
        <div style="width: 30%; height:300px;margin-left:3%;float:left;margin-bottom:10%;margin-top:5%;margin-right:0%;font-size:20px">
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="prathmesh-bhadekar-611525129" data-version="v1">
                <a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/prathmesh-bhadekar-611525129?trk=profile-badge">Prathmesh Bhadekar</a></div>
              
            </div>
        <div style="width: 30%; height:300px;margin-left:3%;;float:left;margin-bottom:10%;margin-top:5%;margin-right:0%;font-size:20px">
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US"
            data-type="horizontal" data-theme="dark" data-vanity="aniket10k"><a class="LI-simple-link"
                href='https://in.linkedin.com/in/aniket10k?trk=profile-badge'>Aniket Kulkarni</a></div>

        </div>
        <div style="width: 30%; height:300px;margin-left:3%;float:left;margin-bottom:10%;margin-top:5%;margin-right:0%;font-size:20px">
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US"
                        data-type="horizontal" data-theme="dark" data-vanity="ashutosh-gajre"><a class="LI-simple-link"
                            href='https://in.linkedin.com/in/ashutosh-gajre?trk=profile-badge'>Ashutosh Gajre</a></div>
        </div>
        <br><br><br><br>
    </body>
</html>